.button {
  background-color:#44c767;
  border-radius:5px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial sans-serif;
  font-size:14px;
  padding:4px 8px;
  text-decoration:none;
  text-shadow:0 1px 0 #2f6627;
  outline: none;
}
.button:hover {
  background-color:#5cbf2a;
}
.button:active {
  position:relative;
  top:1px;
}
