.root {
  width: 100%;
  max-height: 858px;
  overflow-y: scroll;
}

.container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemContainer {
  border: 1px solid #3EC764;
  border-bottom: 0;
}

.itemContainer:last-of-type {
  border-bottom: 1px solid #3EC764;
}

.item {
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 6px 8px;
  transition: all 0.2s;
}


.item:hover {
  background: #44c767;
}

