.root {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.control {
  width: 50%;
  padding: 4px 0;
}

.label {
  padding: 4px 8px;
}

.input {
  margin-left: 8px;
}

.contentEditor {
  /*margin-top: 8px;*/
  width: 100%;
  border: 1px solid lightgray;
}
