.root {
  font-size: 16px;
  color: #666;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
}

.sidebar {
  width: 200px;
  background: green;
  padding: 0 12px;
}

.content {
  flex-grow: 1;
  background: yellow;
  padding: 0 12px;
}
